.btn {
    margin-top: 20px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;

}